* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

h1 {
    color: rgb(255, 0, 136);
    margin: 40px;
}

.text-center {
    text-align: center;
}

.subtitle {
    margin: 40px auto;
    width: 70%;
}

.card {
  background-color: rgb(6, 2, 36);
  color: white;
  display: flex;
  height: 100px;
  width: 300px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.small {
    font-size: small;
}

.blue {
    color: rgb(0, 166, 255);
}

.info {
    margin: 10px;
}

.flex-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px 20px;
}

header {
    background-color:  rgb(6, 2, 36);
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
  }
  
.link-flex {
    display: flex;
    align-items: center;
  }
  
.link {
    width: 100px;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    margin-left: 10px;
}

hr {
    margin: 40px 0;
}

.card-2 {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 0, 27);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: white;
}

.card-center {
    margin: 10px auto;
    text-align: center;
}

footer {
    background-color:  rgb(150, 150, 150);
    height: 60px;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
}