* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

h1 {
    color: rgb(255, 0, 136);
    margin: 40px;
}

.text-center {
    text-align: center;
}

.subtitle {
    margin: 40px;
}

.card {
  background-color: rgb(6, 2, 36);
  color: white;
  display: flex;
  height: 100px;
  width: 300px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.small {
    font-size: small;
}

.blue {
    color: rgb(0, 166, 255);
}

.flex-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px 20px;
}